<div class="bigbox shadow">
  <div>
    {{ question.text }}
  </div>
  <hr class="rounded" />
  <div class="grid-container">
    <div *ngFor="let item of question.options" class="grid-item">
      <label for="item.id">
        <input type="radio" class="radio" name="movies" />
        {{ item.option }}
      </label>
    </div>
  </div>
  <div class="navigation">
    <button (click)="goBack()" [disabled]="questionIndex == 0">Back</button>

    <button
      (click)="goForward()"
      [disabled]="questionIndex > questions.length - 2"
    >
      Forward
    </button>
  </div>
</div>
